In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('FantasyTracker23\\F1_2023_Fantasy_Drivers_Standings.csv')
df_cons = pd.read_csv('FantasyTracker23\\F1_2023_Fantasy_Constructors_Standings.csv')

In [2]:
df
# Columns to be removed: 'Unnamed: 27', 'Unnamed: 28', 'DNFs', 'Race24drv', 'Race25drv', 'Race24drvdnf', 'Race25drvdnf', 'Unnamed: 55', 'Unnamed: 56', 'Streaks' until 'Unnamed: 84'

,DriverX,Race1drv,Race2drv,Race3drv,Race4drv,Race5drv,Race6drv,Race7drv,Race8drv,Race9drv,...,Race19drvstreak,Race20drvstreak,Race21drvstreak,Race22drvstreak,Race23drvstreak,Race24drvstreak,Race25drvstreak,Unnamed: 83,Unnamed: 84,Code
0,L.Hamilton,19,16,29,19,24,0,28,39,23,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,BAH1,BAH
1,G.Russell,16,18,-7,25,28,0,16,31,-12,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,SAU1,SAU
2,C.Leclerc,-11,27,-15,29,16,0,16,14,19,...,No,Yes,No,Yes,Yes,No,No,NaN,AUS1,AUS
3,C.Sainz,19,12,8,21,20,0,6,19,22,...,Yes,No,Yes,Yes,Yes,No,No,NaN,AZE1,AZE
4,M.Verstappen,35,61,36,37,64,0,35,46,35,...,Yes,Yes,No,Yes,Yes,No,No,NaN,USA1,USA
5,S.Perez,28,36,52,61,28,0,10,27,28,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,ITA1,ITA
6,L.Norris,-1,7,19,0,1,0,6,-2,2,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,MON1,MON
7,O.Piastri,-16,2,16,8,5,0,4,3,3,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,SPA1,SPA
8,F.Alonso,39,23,23,27,25,0,27,14,27,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,CAN1,CAN
9,L.Stroll,17,-14,21,18,12,0,-17,16,14,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,AUT1,AUT
10,P.Gasly,20,6,1,17,10,0,10,14,8,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,GBR1,GBR
11,E.Ocon,-17,7,2,7,8,0,32,9,11,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,HUN1,HUN
12,Y.Tsunoda,8,9,7,-13,16,0,-4,11,8,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,BEL1,BEL
13,D.Ricciardo,8,7,3,-15,0,0,0,6,-1,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,NET1,NET
14,A.Albon,13,-17,-15,2,-1,0,0,5,22,...,Yes,Yes,No,Yes,Yes,No,No,NaN,ITA2,ITA
15,L.Sargeant,11,2,5,-20,1,0,0,1,-19,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,SIN1,SIN
16,V.Bottas,13,-2,12,-1,2,0,10,2,6,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,JAP1,JAP
17,G.Zhou,15,6,15,-10,1,0,11,16,4,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,QAT1,QAT
18,K.Magnussen,8,9,2,16,6,0,1,9,0,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,USA2,USA
19,N.Hulkenberg,-1,1,11,2,4,0,7,3,-1,...,Yes,Yes,Yes,Yes,Yes,No,No,NaN,MEX1,MEX

In [3]:
# Print column names and their indices
for i, col in enumerate(df.columns):
    print(i, col)

0 DriverX
1 Race1drv
2 Race2drv
3 Race3drv
4 Race4drv
5 Race5drv
6 Race6drv
7 Race7drv
8 Race8drv
9 Race9drv
10 Race10drv
11 Race11drv
12 Race12drv
13 Race13drv
14 Race14drv
15 Race15drv
16 Race16drv
17 Race17drv
18 Race18drv
19 Race19drv
20 Race20drv
21 Race21drv
22 Race22drv
23 Race23drv
24 Race24drv
25 Race25drv
26 Total
27 Unnamed: 27
28 Unnamed: 28
29 DNFs
30 Race1drvdnf
31 Race2drvdnf
32 Race3drvdnf
33 Race4drvdnf
34 Race5drvdnf
35 Race6drvdnf
36 Race7drvdnf
37 Race8drvdnf
38 Race9drvdnf
39 Race10drvdnf
40 Race11drvdnf
41 Race12drvdnf
42 Race13drvdnf
43 Race14drvdnf
44 Race15drvdnf
45 Race16drvdnf
46 Race17drvdnf
47 Race18drvdnf
48 Race19drvdnf
49 Race20drvdnf
50 Race21drvdnf
51 Race22drvdnf
52 Race23drvdnf
53 Race24drvdnf
54 Race25drvdnf
55 Unnamed: 55
56 Unnamed: 56
57 Streaks
58 Race1drvstreak
59 Race2drvstreak
60 Race3drvstreak
61 Race4drvstreak
62 Race5drvstreak
63 Race6drvstreak
64 Race7drvstreak
65 Race8drvstreak
66 Race9drvstreak
67 Race10drvstreak
68 Race11drvstreak
69 Race12drvstreak
70 Race13drvstreak
71 Race14drvstreak
72 Race15drvstreak
73 Race16drvstreak
74 Race17drvstreak
75 Race18drvstreak
76 Race19drvstreak
77 Race20drvstreak
78 Race21drvstreak
79 Race22drvstreak
80 Race23drvstreak
81 Race24drvstreak
82 Race25drvstreak
83 Unnamed: 83
84 Unnamed: 84
85 Code

In [4]:
# Drop columns with 'Unnamed' in the name
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df_cons = df_cons.loc[:, ~df_cons.columns.str.contains('^Unnamed')]

In [5]:
# Print column names and their indices
for i, col in enumerate(df.columns):
    print(i, col)

0 DriverX
1 Race1drv
2 Race2drv
3 Race3drv
4 Race4drv
5 Race5drv
6 Race6drv
7 Race7drv
8 Race8drv
9 Race9drv
10 Race10drv
11 Race11drv
12 Race12drv
13 Race13drv
14 Race14drv
15 Race15drv
16 Race16drv
17 Race17drv
18 Race18drv
19 Race19drv
20 Race20drv
21 Race21drv
22 Race22drv
23 Race23drv
24 Race24drv
25 Race25drv
26 Total
27 DNFs
28 Race1drvdnf
29 Race2drvdnf
30 Race3drvdnf
31 Race4drvdnf
32 Race5drvdnf
33 Race6drvdnf
34 Race7drvdnf
35 Race8drvdnf
36 Race9drvdnf
37 Race10drvdnf
38 Race11drvdnf
39 Race12drvdnf
40 Race13drvdnf
41 Race14drvdnf
42 Race15drvdnf
43 Race16drvdnf
44 Race17drvdnf
45 Race18drvdnf
46 Race19drvdnf
47 Race20drvdnf
48 Race21drvdnf
49 Race22drvdnf
50 Race23drvdnf
51 Race24drvdnf
52 Race25drvdnf
53 Streaks
54 Race1drvstreak
55 Race2drvstreak
56 Race3drvstreak
57 Race4drvstreak
58 Race5drvstreak
59 Race6drvstreak
60 Race7drvstreak
61 Race8drvstreak
62 Race9drvstreak
63 Race10drvstreak
64 Race11drvstreak
65 Race12drvstreak
66 Race13drvstreak
67 Race14drvstreak
68 Race15drvstreak
69 Race16drvstreak
70 Race17drvstreak
71 Race18drvstreak
72 Race19drvstreak
73 Race20drvstreak
74 Race21drvstreak
75 Race22drvstreak
76 Race23drvstreak
77 Race24drvstreak
78 Race25drvstreak
79 Code

In [6]:
# Remove columns with 'Streak' in the name
df = df.loc[:, ~df.columns.str.contains('^Streak')]
df_cons = df_cons.loc[:, ~df_cons.columns.str.contains('^Streak')]

In [7]:
# Print column names and their indices
for i, col in enumerate(df.columns):
    print(i, col)

0 DriverX
1 Race1drv
2 Race2drv
3 Race3drv
4 Race4drv
5 Race5drv
6 Race6drv
7 Race7drv
8 Race8drv
9 Race9drv
10 Race10drv
11 Race11drv
12 Race12drv
13 Race13drv
14 Race14drv
15 Race15drv
16 Race16drv
17 Race17drv
18 Race18drv
19 Race19drv
20 Race20drv
21 Race21drv
22 Race22drv
23 Race23drv
24 Race24drv
25 Race25drv
26 Total
27 DNFs
28 Race1drvdnf
29 Race2drvdnf
30 Race3drvdnf
31 Race4drvdnf
32 Race5drvdnf
33 Race6drvdnf
34 Race7drvdnf
35 Race8drvdnf
36 Race9drvdnf
37 Race10drvdnf
38 Race11drvdnf
39 Race12drvdnf
40 Race13drvdnf
41 Race14drvdnf
42 Race15drvdnf
43 Race16drvdnf
44 Race17drvdnf
45 Race18drvdnf
46 Race19drvdnf
47 Race20drvdnf
48 Race21drvdnf
49 Race22drvdnf
50 Race23drvdnf
51 Race24drvdnf
52 Race25drvdnf
53 Race1drvstreak
54 Race2drvstreak
55 Race3drvstreak
56 Race4drvstreak
57 Race5drvstreak
58 Race6drvstreak
59 Race7drvstreak
60 Race8drvstreak
61 Race9drvstreak
62 Race10drvstreak
63 Race11drvstreak
64 Race12drvstreak
65 Race13drvstreak
66 Race14drvstreak
67 Race15drvstreak
68 Race16drvstreak
69 Race17drvstreak
70 Race18drvstreak
71 Race19drvstreak
72 Race20drvstreak
73 Race21drvstreak
74 Race22drvstreak
75 Race23drvstreak
76 Race24drvstreak
77 Race25drvstreak
78 Code

In [8]:
# See unique values in 'DNFs' column
df['DNFs'].unique()

array([nan])

In [9]:
# Remove cols 24, 25, 27, from 51 to 77
df = df.drop(df.columns[[24, 25, 27] + list(range(51, 78))], axis=1)

In [10]:
df

,DriverX,Race1drv,Race2drv,Race3drv,Race4drv,Race5drv,Race6drv,Race7drv,Race8drv,Race9drv,...,Race15drvdnf,Race16drvdnf,Race17drvdnf,Race18drvdnf,Race19drvdnf,Race20drvdnf,Race21drvdnf,Race22drvdnf,Race23drvdnf,Code
0,L.Hamilton,19,16,29,19,24,0,28,39,23,...,No,No,No,Yes,Yes,No,No,No,No,BAH
1,G.Russell,16,18,-7,25,28,0,16,31,-12,...,No,No,No,No,No,No,Yes,No,No,SAU
2,C.Leclerc,-11,27,-15,29,16,0,16,14,19,...,No,No,No,No,Yes,No,Yes,No,No,AUS
3,C.Sainz,19,12,8,21,20,0,6,19,22,...,No,No,No,Yes,No,No,No,No,No,AZE
4,M.Verstappen,35,61,36,37,64,0,35,46,35,...,No,No,No,No,No,No,No,No,No,USA
5,S.Perez,28,36,52,61,28,0,10,27,28,...,No,No,Yes,No,No,Yes,No,No,No,ITA
6,L.Norris,-1,7,19,0,1,0,6,-2,2,...,No,No,No,No,No,No,No,Yes,No,MON
7,O.Piastri,-16,2,16,8,5,0,4,3,3,...,No,No,No,No,Yes,No,No,No,No,SPA
8,F.Alonso,39,23,23,27,25,0,27,14,27,...,No,No,No,No,Yes,Yes,No,No,No,CAN
9,L.Stroll,17,-14,21,18,12,0,-17,16,14,...,No,No,Yes,No,No,No,No,No,No,AUT
10,P.Gasly,20,6,1,17,10,0,10,14,8,...,No,No,No,No,No,No,No,No,No,GBR
11,E.Ocon,-17,7,2,7,8,0,32,9,11,...,Yes,Yes,No,No,Yes,No,No,No,No,HUN
12,Y.Tsunoda,8,9,7,-13,16,0,-4,11,8,...,Yes,Yes,No,No,No,No,No,No,No,BEL
13,D.Ricciardo,8,7,3,-15,0,0,0,6,-1,...,No,No,No,No,No,No,No,No,No,NET
14,A.Albon,13,-17,-15,2,-1,0,0,5,22,...,No,No,Yes,No,No,No,Yes,No,No,ITA
15,L.Sargeant,11,2,5,-20,1,0,0,1,-19,...,No,No,Yes,Yes,No,No,No,No,No,SIN
16,V.Bottas,13,-2,12,-1,2,0,10,2,6,...,No,Yes,Yes,No,No,No,Yes,No,No,JAP
17,G.Zhou,15,6,15,-10,1,0,11,16,4,...,No,No,No,No,No,No,Yes,No,No,QAT
18,K.Magnussen,8,9,2,16,6,0,1,9,0,...,No,No,No,No,No,Yes,Yes,No,No,USA
19,N.Hulkenberg,-1,1,11,2,4,0,7,3,-1,...,No,No,No,No,No,No,No,No,No,MEX

In [11]:
# Separate Codes from the table
df_codes = df['Code']
df = df.drop('Code', axis=1)

In [12]:
rem_codes = ['BRA', 'USA', 'ABU']
# Add codes to the Series
df_codes[20] = 'BRA'
df_codes[21] = 'USA'
df_codes[22] = 'ABU'

C:\Users\marce\AppData\Local\Temp\ipykernel_23964\3844869910.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes[20] = 'BRA'

In [15]:
# Add Race Number column to the df_codes
df_codes_frame = df_codes.to_frame()

# Add 'RaceNum' column to the df_codes_frame
df_codes_frame['RaceNum'] = df_codes_frame.index + 1

In [16]:
df_codes_frame

   Code  RaceNum
0   BAH        1
1   SAU        2
2   AUS        3
3   AZE        4
4   USA        5
5   ITA        6
6   MON        7
7   SPA        8
8   CAN        9
9   AUT       10
10  GBR       11
11  HUN       12
12  BEL       13
13  NET       14
14  ITA       15
15  SIN       16
16  JAP       17
17  QAT       18
18  USA       19
19  MEX       20
20  BRA       21
21  USA       22
22  ABU       23

In [18]:
# Add 'Location' column to the df_codes_frame
# Mapping of race codes to race details
race_info = {'BAH': {'Race': 'Bahrain Grand Prix', 'Country': 'Bahrain', 'Circuit': 'Bahrain International Circuit'},
             'SAU': {'Race': 'Saudi Arabian Grand Prix', 'Country': 'Saudi Arabia', 'Circuit': 'Jeddah Street Circuit'},
             'AUS': {'Race': 'Australian Grand Prix', 'Country': 'Australia', 'Circuit': 'Albert Park Circuit'},
             'AZE': {'Race': 'Azerbaijan Grand Prix', 'Country': 'Azerbaijan', 'Circuit': 'Baku City Circuit'},
             'USA': {'Race': 'United States Grand Prix', 'Country': 'USA'},
             'ITA': {'Race': 'Italian Grand Prix', 'Country': 'Italy', 'Circuit': 'Autodromo Enzo e Dino Ferrari'},
             'MON': {'Race': 'Monaco Grand Prix', 'Country': 'Monaco', 'Circuit': 'Circuit de Monaco'},
             'SPA': {'Race': 'Spanish Grand Prix', 'Country': 'Spain', 'Circuit': 'Circuit de Barcelona-Catalunya'},
             'CAN': {'Race': 'Canadian Grand Prix', 'Country': 'Canada', 'Circuit': 'Circuit Gilles Villeneuve'},
             'AUT': {'Race': 'Austrian Grand Prix', 'Country': 'Austria', 'Circuit': 'Red Bull Ring'},
             'GBR': {'Race': 'British Grand Prix', 'Country': 'United Kingdom', 'Circuit': 'Silverstone Circuit'},
             'HUN': {'Race': 'Hungarian Grand Prix', 'Country': 'Hungary', 'Circuit': 'Hungaroring'},
             'BEL': {'Race': 'Belgian Grand Prix', 'Country': 'Belgium', 'Circuit': 'Circuit de Spa-Francorchamps'},
             'NET': {'Race': 'Dutch Grand Prix', 'Country': 'Netherlands', 'Circuit': 'Circuit Zandvoort'},
             'SIN': {'Race': 'Singapore Grand Prix', 'Country': 'Singapore', 'Circuit': 'Marina Bay Street Circuit'},
             'JAP': {'Race': 'Japanese Grand Prix', 'Country': 'Japan', 'Circuit': 'Suzuka International Racing Course'},
             'QAT': {'Race': 'Qatar Grand Prix', 'Country': 'Qatar', 'Circuit': 'Losail International Circuit'},
             'MEX': {'Race': 'Mexican Grand Prix', 'Country': 'Mexico', 'Circuit': 'Autódromo Hermanos Rodríguez'},
             'BRA': {'Race': 'Brazilian Grand Prix', 'Country': 'Brazil', 'Circuit': 'Autódromo José Carlos Pace'},
             'ABU': {'Race': 'Abu Dhabi Grand Prix', 'Country': 'United Arab Emirates', 'Circuit': 'Yas Marina Circuit'}}

# Add new columns to DataFrame
df_codes_frame['RaceName'] = df_codes_frame['Code'].map(lambda x: race_info[x]['Race'] if x in race_info else '')
df_codes_frame['Country'] = df_codes_frame['Code'].map(lambda x: race_info[x]['Country'] if x in race_info else '')
df_codes_frame['Circuit'] = df_codes_frame['Code'].map(lambda x: race_info[x]['Circuit'] if x in race_info and 'Circuit' in race_info[x] else '')

    Constructor  Race1con  Race2con  Race3con  Race4con  Race5con  Race6con  \
0      Mercedes        45        44        32        49        57         0
1       Ferrari        31        59         3        63        56         0
2      Red Bull        78        95        98       108        97         0
3       Mclaren       -16        14        36        23         8         0
4  Aston Martin        56        19        54        55        42         0
5        Alpine         8        28        11        25        28         0
6    AlphaTauri        17        15        13       -23        17         0
7      Williams        25       -16        -5       -15         1         0
8    Alfa Romeo        31         7        26       -10         8         0
9          Haas        12        13        18        17        15         0

   Race7con  Race8con  Race9con  ...  Race19con  Race20con  Race21con  \
0        54        65        21  ...         31         69         24
1        37        38        46  ...         35         63         28
2        63        96        86  ...         95         45        105
3        15        11        15  ...         36         57         65
4        15        40        46  ...          0         -7         77
5        42        33        24  ...         27         21         44
6         1        20         6  ...         34         42         31
7         1         5        -2  ...         29         20          2
8        22        19        11  ...         15         14        -31
9         7        17         4  ...         30         -7        -19

   Race22con  Race23con  Race24con  Race25con  ConFTotal  BRA1  BRA
0         45         51          0          0     1060.0  USA3  USA
1         78         48          0          0     1007.0  ABU1  ABU
2         84         87          0          0     1847.0   NaN  NaN
3         34         59          0          0      899.0   NaN  NaN
4         56         32          0          0      757.0   NaN  NaN
5         46         11          0          0      467.0   NaN  NaN
6         26         27          0          0      308.0   NaN  NaN
7          7         12          0          0      151.0   NaN  NaN
8         12         13          0          0      222.0   NaN  NaN
9         12          2          0          0      215.0   NaN  NaN

[10 rows x 29 columns]

In [19]:
df_codes_frame

,Code,RaceNum,RaceName,Country,Circuit
0,BAH,1,Bahrain Grand Prix,Bahrain,Bahrain International Circuit
1,SAU,2,Saudi Arabian Grand Prix,Saudi Arabia,Jeddah Street Circuit
2,AUS,3,Australian Grand Prix,Australia,Albert Park Circuit
3,AZE,4,Azerbaijan Grand Prix,Azerbaijan,Baku City Circuit
4,USA,5,United States Grand Prix,USA,
5,ITA,6,Italian Grand Prix,Italy,Autodromo Enzo e Dino Ferrari
6,MON,7,Monaco Grand Prix,Monaco,Circuit de Monaco
7,SPA,8,Spanish Grand Prix,Spain,Circuit de Barcelona-Catalunya
8,CAN,9,Canadian Grand Prix,Canada,Circuit Gilles Villeneuve
9,AUT,10,Austrian Grand Prix,Austria,Red Bull Ring
10,GBR,11,British Grand Prix,United Kingdom,Silverstone Circuit
11,HUN,12,Hungarian Grand Prix,Hungary,Hungaroring
12,BEL,13,Belgian Grand Prix,Belgium,Circuit de Spa-Francorchamps
13,NET,14,Dutch Grand Prix,Netherlands,Circuit Zandvoort
14,ITA,15,Italian Grand Prix,Italy,Autodromo Enzo e Dino Ferrari
15,SIN,16,Singapore Grand Prix,Singapore,Marina Bay Street Circuit
16,JAP,17,Japanese Grand Prix,Japan,Suzuka International Racing Course
17,QAT,18,Qatar Grand Prix,Qatar,Losail International Circuit
18,USA,19,United States Grand Prix,USA,
19,MEX,20,Mexican Grand Prix,Mexico,Autódromo Hermanos Rodríguez
20,BRA,21,Brazilian Grand Prix,Brazil,Autódromo José Carlos Pace
21,USA,22,United States Grand Prix,USA,
22,ABU,23,Abu Dhabi Grand Prix,United Arab Emirates,Yas Marina Circuit

In [20]:
# Now all that is left is to correct the USA GPs and Italy GPs
# The first USA GP is held in Miami, Florida at the Miami International Autodrome for the Miami Grand Prix
# The second USA GP is held in Austin, Texas at the Circuit of the Americas for the United States Grand Prix
# The third USA GP is held in Las Vegas, Nevada at the Las Vegas Strip Circuit for the Las Vegas Grand Prix

# The first ITA GP is held in Imola, Italy at the Autodromo Enzo e Dino Ferrari for the Emilia Romagna Grand Prix
# The second ITA GP is held in Monza, Italy at the Autodromo Nazionale di Monza for the Italian Grand Prix

# Correct USA GPs
df_codes_frame['RaceName'][4] = 'Miami Grand Prix'
df_codes_frame['Circuit'][4] = 'Miami International Autodrome'
df_codes_frame['RaceName'][18] = 'United States Grand Prix'
df_codes_frame['Circuit'][18] = 'Circuit of the Americas'
df_codes_frame['RaceName'][21] = 'Las Vegas Grand Prix'
df_codes_frame['Circuit'][21] = 'Las Vegas Strip Circuit'

# Now correct ITA GPs
df_codes_frame['RaceName'][5] = 'Emilia Romagna Grand Prix'
df_codes_frame['RaceName'][14] = 'Italian Grand Prix'
df_codes_frame['Circuit'][14] = 'Autodromo Nazionale di Monza'

C:\Users\marce\AppData\Local\Temp\ipykernel_23964\1713496144.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes_frame['RaceName'][4] = 'Miami Grand Prix'
C:\Users\marce\AppData\Local\Temp\ipykernel_23964\1713496144.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes_frame['Circuit'][4] = 'Miami International Autodrome'
C:\Users\marce\AppData\Local\Temp\ipykernel_23964\1713496144.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes_frame['RaceName'][18] = 'United States Grand Prix'
C:\Users\marce\AppData\Local\Temp\ipykernel_23964\1713496144.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes_frame['Circuit'][18] = 'Circuit of the Americas'
C:\Users\marce\AppData\Local\Temp\ipykernel_23964\1713496144.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes_frame['RaceName'][21] = 'Las Vegas Grand Prix'
C:\Users\marce\AppData\Local\Temp\ipykernel_23964\1713496144.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes_frame['Circuit'][21] = 'Las Vegas Strip Circuit'
C:\Users\marce\AppData\Local\Temp\ipykernel_23964\1713496144.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes_frame['RaceName'][5] = 'Emilia Romagna Grand Prix'
C:\Users\marce\AppData\Local\Temp\ipykernel_23964\1713496144.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes_frame['RaceName'][14] = 'Italian Grand Prix'
C:\Users\marce\AppData\Local\Temp\ipykernel_23964\1713496144.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_codes_frame['Circuit'][14] = 'Autodromo Nazionale di Monza'

In [21]:
df_codes_frame

,Code,RaceNum,RaceName,Country,Circuit
0,BAH,1,Bahrain Grand Prix,Bahrain,Bahrain International Circuit
1,SAU,2,Saudi Arabian Grand Prix,Saudi Arabia,Jeddah Street Circuit
2,AUS,3,Australian Grand Prix,Australia,Albert Park Circuit
3,AZE,4,Azerbaijan Grand Prix,Azerbaijan,Baku City Circuit
4,USA,5,Miami Grand Prix,USA,Miami International Autodrome
5,ITA,6,Emilia Romagna Grand Prix,Italy,Autodromo Enzo e Dino Ferrari
6,MON,7,Monaco Grand Prix,Monaco,Circuit de Monaco
7,SPA,8,Spanish Grand Prix,Spain,Circuit de Barcelona-Catalunya
8,CAN,9,Canadian Grand Prix,Canada,Circuit Gilles Villeneuve
9,AUT,10,Austrian Grand Prix,Austria,Red Bull Ring
10,GBR,11,British Grand Prix,United Kingdom,Silverstone Circuit
11,HUN,12,Hungarian Grand Prix,Hungary,Hungaroring
12,BEL,13,Belgian Grand Prix,Belgium,Circuit de Spa-Francorchamps
13,NET,14,Dutch Grand Prix,Netherlands,Circuit Zandvoort
14,ITA,15,Italian Grand Prix,Italy,Autodromo Nazionale di Monza
15,SIN,16,Singapore Grand Prix,Singapore,Marina Bay Street Circuit
16,JAP,17,Japanese Grand Prix,Japan,Suzuka International Racing Course
17,QAT,18,Qatar Grand Prix,Qatar,Losail International Circuit
18,USA,19,United States Grand Prix,USA,Circuit of the Americas
19,MEX,20,Mexican Grand Prix,Mexico,Autódromo Hermanos Rodríguez
20,BRA,21,Brazilian Grand Prix,Brazil,Autódromo José Carlos Pace
21,USA,22,Las Vegas Grand Prix,USA,Las Vegas Strip Circuit
22,ABU,23,Abu Dhabi Grand Prix,United Arab Emirates,Yas Marina Circuit

In [22]:
# Add 'IsSprint' column to the df_codes_frame. False for all exept for the following: 4, 10, 13, 18, 19 and 21
# Use .map() to add the column and the indexes as conditions
df_codes_frame['IsSprint'] = df_codes_frame['RaceNum'].map(lambda x: True if x in [4, 10, 13, 18, 19, 21] else False)
df_codes_frame

,Code,RaceNum,RaceName,Country,Circuit,IsSprint
0,BAH,1,Bahrain Grand Prix,Bahrain,Bahrain International Circuit,False
1,SAU,2,Saudi Arabian Grand Prix,Saudi Arabia,Jeddah Street Circuit,False
2,AUS,3,Australian Grand Prix,Australia,Albert Park Circuit,False
3,AZE,4,Azerbaijan Grand Prix,Azerbaijan,Baku City Circuit,True
4,USA,5,Miami Grand Prix,USA,Miami International Autodrome,False
5,ITA,6,Emilia Romagna Grand Prix,Italy,Autodromo Enzo e Dino Ferrari,False
6,MON,7,Monaco Grand Prix,Monaco,Circuit de Monaco,False
7,SPA,8,Spanish Grand Prix,Spain,Circuit de Barcelona-Catalunya,False
8,CAN,9,Canadian Grand Prix,Canada,Circuit Gilles Villeneuve,False
9,AUT,10,Austrian Grand Prix,Austria,Red Bull Ring,True
10,GBR,11,British Grand Prix,United Kingdom,Silverstone Circuit,False
11,HUN,12,Hungarian Grand Prix,Hungary,Hungaroring,False
12,BEL,13,Belgian Grand Prix,Belgium,Circuit de Spa-Francorchamps,True
13,NET,14,Dutch Grand Prix,Netherlands,Circuit Zandvoort,False
14,ITA,15,Italian Grand Prix,Italy,Autodromo Nazionale di Monza,False
15,SIN,16,Singapore Grand Prix,Singapore,Marina Bay Street Circuit,False
16,JAP,17,Japanese Grand Prix,Japan,Suzuka International Racing Course,False
17,QAT,18,Qatar Grand Prix,Qatar,Losail International Circuit,True
18,USA,19,United States Grand Prix,USA,Circuit of the Americas,True
19,MEX,20,Mexican Grand Prix,Mexico,Autódromo Hermanos Rodríguez,False
20,BRA,21,Brazilian Grand Prix,Brazil,Autódromo José Carlos Pace,True
21,USA,22,Las Vegas Grand Prix,USA,Las Vegas Strip Circuit,False
22,ABU,23,Abu Dhabi Grand Prix,United Arab Emirates,Yas Marina Circuit,False

# Constructors

In [16]:
# Print column names and their indices
for i, col in enumerate(df_cons.columns):
    print(i, col)

0 Constructor
1 Race1con
2 Race2con
3 Race3con
4 Race4con
5 Race5con
6 Race6con
7 Race7con
8 Race8con
9 Race9con
10 Race10con
11 Race11con
12 Race12con
13 Race13con
14 Race14con
15 Race15con
16 Race16con
17 Race17con
18 Race18con
19 Race19con
20 Race20con
21 Race21con
22 Race22con
23 Race23con
24 Race24con
25 Race25con
26 ConFTotal
27 BRA1
28 BRA

In [18]:
# Drop columns 24, 25, 27 and 28
df_cons = df_cons.drop(df_cons.columns[[24, 25, 27, 28]], axis=1)

In [19]:
df_cons

,Constructor,Race1con,Race2con,Race3con,Race4con,Race5con,Race6con,Race7con,Race8con,Race9con,...,Race15con,Race16con,Race17con,Race18con,Race19con,Race20con,Race21con,Race22con,Race23con,ConFTotal
0,Mercedes,45,44,32,49,57,0,54,65,21,...,44,47,44,53,31,69,24,45,51,1060.0
1,Ferrari,31,59,3,63,56,0,37,38,46,...,67,70,65,18,35,63,28,78,48,1007.0
2,Red Bull,78,95,98,108,97,0,63,96,86,...,81,54,46,64,95,45,105,84,87,1847.0
3,Mclaren,-16,14,36,23,8,0,15,11,15,...,44,64,66,110,36,57,65,34,59,899.0
4,Aston Martin,56,19,54,55,42,0,15,40,46,...,17,4,7,47,0,-7,77,56,32,757.0
5,Alpine,8,28,11,25,28,0,42,33,24,...,-16,13,20,23,27,21,44,46,11,467.0
6,AlphaTauri,17,15,13,-23,17,0,1,20,6,...,-12,-4,15,-4,34,42,31,26,27,308.0
7,Williams,25,-16,-5,-15,1,0,1,5,-2,...,20,19,-35,-10,29,20,2,7,12,151.0
8,Alfa Romeo,31,7,26,-10,8,0,22,19,11,...,12,-8,-10,39,15,14,-31,12,13,222.0
9,Haas,12,13,18,17,15,0,7,17,4,...,0,18,15,6,30,-7,-19,12,2,215.0

In [23]:
# Export all DataFrames to csv files
df.to_csv('FantasyTracker23\\TreatedData2023\\F1_2023_Fantasy_Drivers_Standings.csv', index=False)
df_cons.to_csv('FantasyTracker23\\TreatedData2023\\F1_2023_Fantasy_Constructors_Standings.csv', index=False)
df_codes_frame.to_csv('FantasyTracker23\\TreatedData2023\\F1_2023_Fantasy_Races.csv', index=False)

# Prices

In [4]:
# Import data from FantasyTracker23 folder
path = 'FantasyTracker23\\TreatedData2023\\'
df_drivers = pd.read_csv(path + 'F1_2023_Fantasy_Drivers_Standings.csv')
df_constructors = pd.read_csv(path + 'F1_2023_Fantasy_Constructors_Standings.csv')
df_races = pd.read_csv(path + 'F1_2023_Fantasy_Races.csv')

In [ ]:
# Make dictionary of drivers and their prices (to be added)

# Prices

In [6]:
prices = pd.read_csv('FantasyTracker23\\F1_2023_Fantasy_Driver_Prices.csv')

In [3]:
prices

,Name,SeasonStartPrice,YesterdaysPrice,CurrentPrice,CurrentSentiment,AveragePointsPerMillion,CurrentPointsPerMillion,PriceChangeFromStart,Unnamed: 8,ChangeName,...,Unnamed: 18,To U,To K,Unnamed: 21,LastRacePrice,Diff,To N,Unnamed: 25,Average Points,CurrentPoints
0,Hamilton,25.3,25.3,25.3,18,0.91,20.00,0.0,NaN,Hamilton,...,0.0030,0.0030,0.0030,NaN,25.3,0.0,0.0030,NaN,23.00,506.0
1,Russell,20.2,20.2,20.2,20,0.86,19.01,0.0,NaN,Russell,...,0.0029,0.0029,0.0029,NaN,20.2,0.0,0.0029,NaN,17.45,384.0
2,Leclerc,23.5,23.5,23.5,28,0.65,14.26,0.0,NaN,Leclerc,...,0.0028,0.0028,0.0028,NaN,23.5,0.0,0.0028,NaN,15.23,335.0
3,Sainz,20.4,20.4,20.4,24,0.88,19.31,0.0,NaN,Sainz,...,0.0027,0.0027,0.0027,NaN,20.4,0.0,0.0027,NaN,17.91,394.0
4,Verstappen,30.0,30.0,30.0,63,1.54,33.80,0.0,NaN,Verstappen,...,0.0026,0.0026,0.0026,NaN,30.0,0.0,0.0026,NaN,46.09,1014.0
5,Perez,20.8,20.8,20.8,35,1.27,27.84,0.0,NaN,Perez,...,0.0025,0.0025,0.0025,NaN,20.8,0.0,0.0025,NaN,26.32,579.0
6,Norris,19.8,19.8,19.8,32,1.01,22.12,0.0,NaN,Norris,...,0.0024,0.0024,0.0024,NaN,19.8,0.0,0.0024,NaN,19.91,438.0
7,Piastri,15.4,15.4,15.4,24,0.82,18.12,0.0,NaN,Piastri,...,0.0023,0.0023,0.0023,NaN,15.4,0.0,0.0023,NaN,12.68,279.0
8,Alonso,15.8,15.8,15.8,66,1.16,25.51,0.0,NaN,Alonso,...,0.0022,0.0022,0.0022,NaN,15.8,0.0,0.0022,NaN,18.32,403.0
9,Stroll,14.0,14.0,14.0,21,0.75,16.50,0.0,NaN,Stroll,...,0.0021,0.0021,0.0021,NaN,14.0,0.0,0.0021,NaN,10.50,231.0
10,Gasly,14.5,14.5,14.5,27,0.72,15.86,0.0,NaN,Gasly,...,0.0020,0.0020,0.0020,NaN,14.5,0.0,0.0020,NaN,10.45,230.0
11,Ocon,13.5,13.5,13.5,10,0.40,8.89,0.0,NaN,Ocon,...,0.0019,0.0019,0.0019,NaN,13.5,0.0,0.0019,NaN,5.45,120.0
12,Tsunoda,9.4,9.4,9.4,16,0.77,17.02,0.0,NaN,Tsunoda,...,0.0018,0.0018,0.0018,NaN,9.4,0.0,0.0018,NaN,7.27,160.0
13,Ricciardo,5.5,5.5,5.5,12,0.74,16.36,0.0,NaN,Ricciardo,...,0.0017,0.0017,0.0017,NaN,5.5,0.0,0.0017,NaN,4.09,90.0
14,Albon,11.3,11.3,11.3,18,0.51,11.15,0.0,NaN,Albon,...,0.0016,0.0016,0.0016,NaN,11.3,0.0,0.0016,NaN,5.73,126.0
15,Sargeant,5.8,5.8,5.8,10,-0.13,-2.93,0.0,NaN,Sargeant,...,0.0015,0.0015,0.0015,NaN,5.8,0.0,0.0015,NaN,-0.77,-17.0
16,Bottas,9.6,9.6,9.6,17,0.20,4.48,0.0,NaN,Bottas,...,0.0014,0.0014,0.0014,NaN,9.6,0.0,0.0014,NaN,1.95,43.0
17,Zhou,7.7,7.7,7.7,16,0.80,17.53,0.0,NaN,Zhou,...,0.0013,0.0013,0.0013,NaN,7.7,0.0,0.0013,NaN,6.14,135.0
18,Magnussen,9.6,9.6,9.6,13,0.42,9.27,0.0,NaN,Magnussen,...,0.0012,0.0012,0.0012,NaN,9.6,0.0,0.0012,NaN,4.05,89.0
19,Hulkenberg,6.2,6.2,6.2,23,0.43,9.52,0.0,NaN,Hulkenberg,...,0.0011,0.0011,0.0011,NaN,6.2,0.0,0.0011,NaN,2.68,59.0
20,Mercedes,26.0,26.0,26.0,13,1.85,40.77,0.0,NaN,Mercedes,...,0.0010,0.0010,0.0010,NaN,26,0.0,0.0010,NaN,48.20,1060.0
21,Ferrari,25.0,25.0,25.0,23,1.83,40.28,0.0,NaN,Ferrari,...,0.0009,0.0009,0.0009,NaN,25,0.0,0.0009,NaN,45.80,1007.0
22,Red Bull,29.7,29.7,29.7,53,2.83,62.19,0.0,NaN,Red Bull,...,0.0008,0.0008,0.0008,NaN,29.7,0.0,0.0008,NaN,84.00,1847.0
23,Mclaren,17.1,17.1,17.1,24,2.39,52.57,0.0,NaN,Mclaren,...,0.0007,0.0007,0.0007,NaN,17.1,0.0,0.0007,NaN,40.90,899.0
24,Aston Martin,13.4,13.4,13.4,58,2.57,56.49,0.0,NaN,Aston Martin,...,0.0006,0.0006,0.0006,NaN,13.4,0.0,0.0006,NaN,34.40,757.0
25,Alpine,14.2,14.2,14.2,9,1.49,32.89,0.0,NaN,Alpine,...,0.0005,0.0005,0.0005,NaN,14.2,0.0,0.0005,NaN,21.20,467.0
26,AlphaTauri,8.7,8.7,8.7,5,1.61,35.40,0.0,NaN,AlphaTauri,...,0.0004,0.0004,0.0004,NaN,8.7,0.0,0.0004,NaN,14.00,308.0
27,Williams,7.8,7.8,7.8,5,0.88,19.36,0.0,NaN,Williams,...,0.0003,0.0003,0.0003,NaN,7.8,0.0,0.0003,NaN,6.90,151.0
28,Alfa Romeo,6.6,6.6,6.6,6,1.53,33.64,0.0,NaN,Alfa Romeo,...,0.0002,0.0002,0.0002,NaN,6.6,0.0,0.0002,NaN,10.10,222.0
29,Haas,7.2,7.2,7.2,5,1.36,29.86,0.0,NaN,Haas,...,0.0001,0.0001,0.0001,NaN,7.2,0.0,0.0001,NaN,9.80,215.0
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Analysis,V,W,X,Y,Z,AA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,AE,NaN,NaN,NaN,NaN,NaN

In [7]:
# Drop last two rows
prices = prices.drop(prices.index[[30, 31]])

In [8]:
prices

,Name,SeasonStartPrice,YesterdaysPrice,CurrentPrice,CurrentSentiment,AveragePointsPerMillion,CurrentPointsPerMillion,PriceChangeFromStart,Unnamed: 8,ChangeName,...,Unnamed: 18,To U,To K,Unnamed: 21,LastRacePrice,Diff,To N,Unnamed: 25,Average Points,CurrentPoints
0,Hamilton,25.3,25.3,25.3,18,0.91,20.00,0.0,NaN,Hamilton,...,0.0030,0.0030,0.0030,NaN,25.3,0.0,0.0030,NaN,23.00,506.0
1,Russell,20.2,20.2,20.2,20,0.86,19.01,0.0,NaN,Russell,...,0.0029,0.0029,0.0029,NaN,20.2,0.0,0.0029,NaN,17.45,384.0
2,Leclerc,23.5,23.5,23.5,28,0.65,14.26,0.0,NaN,Leclerc,...,0.0028,0.0028,0.0028,NaN,23.5,0.0,0.0028,NaN,15.23,335.0
3,Sainz,20.4,20.4,20.4,24,0.88,19.31,0.0,NaN,Sainz,...,0.0027,0.0027,0.0027,NaN,20.4,0.0,0.0027,NaN,17.91,394.0
4,Verstappen,30.0,30.0,30.0,63,1.54,33.80,0.0,NaN,Verstappen,...,0.0026,0.0026,0.0026,NaN,30.0,0.0,0.0026,NaN,46.09,1014.0
5,Perez,20.8,20.8,20.8,35,1.27,27.84,0.0,NaN,Perez,...,0.0025,0.0025,0.0025,NaN,20.8,0.0,0.0025,NaN,26.32,579.0
6,Norris,19.8,19.8,19.8,32,1.01,22.12,0.0,NaN,Norris,...,0.0024,0.0024,0.0024,NaN,19.8,0.0,0.0024,NaN,19.91,438.0
7,Piastri,15.4,15.4,15.4,24,0.82,18.12,0.0,NaN,Piastri,...,0.0023,0.0023,0.0023,NaN,15.4,0.0,0.0023,NaN,12.68,279.0
8,Alonso,15.8,15.8,15.8,66,1.16,25.51,0.0,NaN,Alonso,...,0.0022,0.0022,0.0022,NaN,15.8,0.0,0.0022,NaN,18.32,403.0
9,Stroll,14.0,14.0,14.0,21,0.75,16.50,0.0,NaN,Stroll,...,0.0021,0.0021,0.0021,NaN,14.0,0.0,0.0021,NaN,10.50,231.0
10,Gasly,14.5,14.5,14.5,27,0.72,15.86,0.0,NaN,Gasly,...,0.0020,0.0020,0.0020,NaN,14.5,0.0,0.0020,NaN,10.45,230.0
11,Ocon,13.5,13.5,13.5,10,0.40,8.89,0.0,NaN,Ocon,...,0.0019,0.0019,0.0019,NaN,13.5,0.0,0.0019,NaN,5.45,120.0
12,Tsunoda,9.4,9.4,9.4,16,0.77,17.02,0.0,NaN,Tsunoda,...,0.0018,0.0018,0.0018,NaN,9.4,0.0,0.0018,NaN,7.27,160.0
13,Ricciardo,5.5,5.5,5.5,12,0.74,16.36,0.0,NaN,Ricciardo,...,0.0017,0.0017,0.0017,NaN,5.5,0.0,0.0017,NaN,4.09,90.0
14,Albon,11.3,11.3,11.3,18,0.51,11.15,0.0,NaN,Albon,...,0.0016,0.0016,0.0016,NaN,11.3,0.0,0.0016,NaN,5.73,126.0
15,Sargeant,5.8,5.8,5.8,10,-0.13,-2.93,0.0,NaN,Sargeant,...,0.0015,0.0015,0.0015,NaN,5.8,0.0,0.0015,NaN,-0.77,-17.0
16,Bottas,9.6,9.6,9.6,17,0.20,4.48,0.0,NaN,Bottas,...,0.0014,0.0014,0.0014,NaN,9.6,0.0,0.0014,NaN,1.95,43.0
17,Zhou,7.7,7.7,7.7,16,0.80,17.53,0.0,NaN,Zhou,...,0.0013,0.0013,0.0013,NaN,7.7,0.0,0.0013,NaN,6.14,135.0
18,Magnussen,9.6,9.6,9.6,13,0.42,9.27,0.0,NaN,Magnussen,...,0.0012,0.0012,0.0012,NaN,9.6,0.0,0.0012,NaN,4.05,89.0
19,Hulkenberg,6.2,6.2,6.2,23,0.43,9.52,0.0,NaN,Hulkenberg,...,0.0011,0.0011,0.0011,NaN,6.2,0.0,0.0011,NaN,2.68,59.0
20,Mercedes,26.0,26.0,26.0,13,1.85,40.77,0.0,NaN,Mercedes,...,0.0010,0.0010,0.0010,NaN,26,0.0,0.0010,NaN,48.20,1060.0
21,Ferrari,25.0,25.0,25.0,23,1.83,40.28,0.0,NaN,Ferrari,...,0.0009,0.0009,0.0009,NaN,25,0.0,0.0009,NaN,45.80,1007.0
22,Red Bull,29.7,29.7,29.7,53,2.83,62.19,0.0,NaN,Red Bull,...,0.0008,0.0008,0.0008,NaN,29.7,0.0,0.0008,NaN,84.00,1847.0
23,Mclaren,17.1,17.1,17.1,24,2.39,52.57,0.0,NaN,Mclaren,...,0.0007,0.0007,0.0007,NaN,17.1,0.0,0.0007,NaN,40.90,899.0
24,Aston Martin,13.4,13.4,13.4,58,2.57,56.49,0.0,NaN,Aston Martin,...,0.0006,0.0006,0.0006,NaN,13.4,0.0,0.0006,NaN,34.40,757.0
25,Alpine,14.2,14.2,14.2,9,1.49,32.89,0.0,NaN,Alpine,...,0.0005,0.0005,0.0005,NaN,14.2,0.0,0.0005,NaN,21.20,467.0
26,AlphaTauri,8.7,8.7,8.7,5,1.61,35.40,0.0,NaN,AlphaTauri,...,0.0004,0.0004,0.0004,NaN,8.7,0.0,0.0004,NaN,14.00,308.0
27,Williams,7.8,7.8,7.8,5,0.88,19.36,0.0,NaN,Williams,...,0.0003,0.0003,0.0003,NaN,7.8,0.0,0.0003,NaN,6.90,151.0
28,Alfa Romeo,6.6,6.6,6.6,6,1.53,33.64,0.0,NaN,Alfa Romeo,...,0.0002,0.0002,0.0002,NaN,6.6,0.0,0.0002,NaN,10.10,222.0
29,Haas,7.2,7.2,7.2,5,1.36,29.86,0.0,NaN,Haas,...,0.0001,0.0001,0.0001,NaN,7.2,0.0,0.0001,NaN,9.80,215.0

In [9]:
# See unique values in all columns
for col in prices.columns:
    print(prices[col].unique())

['Hamilton' 'Russell' 'Leclerc' 'Sainz' 'Verstappen' 'Perez' 'Norris'
 'Piastri' 'Alonso' 'Stroll' 'Gasly' 'Ocon' 'Tsunoda' 'Ricciardo' 'Albon'
 'Sargeant' 'Bottas' 'Zhou' 'Magnussen' 'Hulkenberg' 'Mercedes' 'Ferrari'
 'Red Bull' 'Mclaren' 'Aston Martin' 'Alpine' 'AlphaTauri' 'Williams'
 'Alfa Romeo' 'Haas']
['25.3' '20.2' '23.5' '20.4' '30.0' '20.8' '19.8' '15.4' '15.8' '14.0'
 '14.5' '13.5' '9.4' '5.5' '11.3' '5.8' '9.6' '7.7' '6.2' '26.0' '25.0'
 '29.7' '17.1' '13.4' '14.2' '8.7' '7.8' '6.6' '7.2']
['25.3' '20.2' '23.5' '20.4' '30.0' '20.8' '19.8' '15.4' '15.8' '14.0'
 '14.5' '13.5' '9.4' '5.5' '11.3' '5.8' '9.6' '7.7' '6.2' '26.0' '25.0'
 '29.7' '17.1' '13.4' '14.2' '8.7' '7.8' '6.6' '7.2']
['25.3' '20.2' '23.5' '20.4' '30.0' '20.8' '19.8' '15.4' '15.8' '14.0'
 '14.5' '13.5' '9.4' '5.5' '11.3' '5.8' '9.6' '7.7' '6.2' '26.0' '25.0'
 '29.7' '17.1' '13.4' '14.2' '8.7' '7.8' '6.6' '7.2']
['18' '20' '28' '24' '63' '35' '32' '66' '21' '27' '10' '16' '12' '17'
 '13' '23' '53' '58' '9' '5' '6']
['0.91' '0.86' '0.65' '0.88' '1.54' '1.27' '1.01' '0.82' '1.16' '0.75'
 '0.72' '0.40' '0.77' '0.74' '0.51' '-0.13' '0.20' '0.80' '0.42' '0.43'
 '1.85' '1.83' '2.83' '2.39' '2.57' '1.49' '1.61' '1.53' '1.36']
['20.00' '19.01' '14.26' '19.31' '33.80' '27.84' '22.12' '18.12' '25.51'
 '16.50' '15.86' '8.89' '17.02' '16.36' '11.15' '-2.93' '4.48' '17.53'
 '9.27' '9.52' '40.77' '40.28' '62.19' '52.57' '56.49' '32.89' '35.40'
 '19.36' '33.64' '29.86']
[0.]
[nan]
['Hamilton' 'Russell' 'Leclerc' 'Sainz' 'Verstappen' 'Perez' 'Norris'
 'Piastri' 'Alonso' 'Stroll' 'Gasly' 'Ocon' 'Tsunoda' 'Ricciardo' 'Albon'
 'Sargeant' 'Bottas' 'Zhou' 'Magnussen' 'Hulkenberg' 'Mercedes' 'Ferrari'
 'Red Bull' 'Mclaren' 'Aston Martin' 'Alpine' 'AlphaTauri' 'Williams'
 'Alfa Romeo' 'Haas']
[0.]
[nan]
['Hamilton' 'Russell' 'Leclerc' 'Sainz' 'Verstappen' 'Perez' 'Norris'
 'Piastri' 'Alonso' 'Stroll' 'Gasly' 'Ocon' 'Tsunoda' 'Ricciardo' 'Albon'
 'Sargeant' 'Bottas' 'Zhou' 'Magnussen' 'Hulkenberg' 'Mercedes' 'Ferrari'
 'Red Bull' 'Mclaren' 'Aston Martin' 'Alpine' 'AlphaTauri' 'Williams'
 'Alfa Romeo' 'Haas']
[0.]
[20.   19.01 14.26 19.31 33.8  27.84 22.12 18.12 25.51 16.5  15.86  8.89
 17.02 16.36 11.15 -2.93  4.48 17.53  9.27  9.52 40.77 40.28 62.19 52.57
 56.49 32.89 35.4  19.36 33.64 29.86]
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30']
['0.0']
[nan]
[0.003  0.0029 0.0028 0.0027 0.0026 0.0025 0.0024 0.0023 0.0022 0.0021
 0.002  0.0019 0.0018 0.0017 0.0016 0.0015 0.0014 0.0013 0.0012 0.0011
 0.001  0.0009 0.0008 0.0007 0.0006 0.0005 0.0004 0.0003 0.0002 0.0001]
[0.003  0.0029 0.0028 0.0027 0.0026 0.0025 0.0024 0.0023 0.0022 0.0021
 0.002  0.0019 0.0018 0.0017 0.0016 0.0015 0.0014 0.0013 0.0012 0.0011
 0.001  0.0009 0.0008 0.0007 0.0006 0.0005 0.0004 0.0003 0.0002 0.0001]
[0.003  0.0029 0.0028 0.0027 0.0026 0.0025 0.0024 0.0023 0.0022 0.0021
 0.002  0.0019 0.0018 0.0017 0.0016 0.0015 0.0014 0.0013 0.0012 0.0011
 0.001  0.0009 0.0008 0.0007 0.0006 0.0005 0.0004 0.0003 0.0002 0.0001]
[nan]
['25.3' '20.2' '23.5' '20.4' '30.0' '20.8' '19.8' '15.4' '15.8' '14.0'
 '14.5' '13.5' '9.4' '5.5' '11.3' '5.8' '9.6' '7.7' '6.2' '26' '25' '29.7'
 '17.1' '13.4' '14.2' '8.7' '7.8' '6.6' '7.2']
[0.]
[0.003  0.0029 0.0028 0.0027 0.0026 0.0025 0.0024 0.0023 0.0022 0.0021
 0.002  0.0019 0.0018 0.0017 0.0016 0.0015 0.0014 0.0013 0.0012 0.0011
 0.001  0.0009 0.0008 0.0007 0.0006 0.0005 0.0004 0.0003 0.0002 0.0001]
[nan]
[23.   17.45 15.23 17.91 46.09 26.32 19.91 12.68 18.32 10.5  10.45  5.45
  7.27  4.09  5.73 -0.77  1.95  6.14  4.05  2.68 48.2  45.8  84.   40.9
 34.4  21.2  14.    6.9  10.1   9.8 ]
[ 506.  384.  335.  394. 1014.  579.  438.  279.  403.  231.  230.  120.
  160.   90.  126.  -17.   43.  135.   89.   59. 1060. 1007. 1847.  899.
  757.  467.  308.  151.  222.  215.]

In [11]:
# Find columns with only one unique value and store them in a list
one_unique = []
for col in prices.columns:
    if len(prices[col].unique()) == 1:
        one_unique.append(col)
        print(col)

PriceChangeFromStart
Unnamed: 8
ChangeOrder
Unnamed: 11
ChangeOrder2
PriceChange
Unnamed: 17
Unnamed: 21
Diff
Unnamed: 25

In [12]:
# Drop columns with only one unique value
prices = prices.drop(one_unique, axis=1)

In [13]:
prices,

,Name,SeasonStartPrice,YesterdaysPrice,CurrentPrice,CurrentSentiment,AveragePointsPerMillion,CurrentPointsPerMillion,ChangeName,ChangeName2,Unnamed: 14,Unnamed: 15,Unnamed: 18,To U,To K,LastRacePrice,To N,Average Points,CurrentPoints
0,Hamilton,25.3,25.3,25.3,18,0.91,20.00,Hamilton,Hamilton,20.00,1,0.0030,0.0030,0.0030,25.3,0.0030,23.00,506.0
1,Russell,20.2,20.2,20.2,20,0.86,19.01,Russell,Russell,19.01,2,0.0029,0.0029,0.0029,20.2,0.0029,17.45,384.0
2,Leclerc,23.5,23.5,23.5,28,0.65,14.26,Leclerc,Leclerc,14.26,3,0.0028,0.0028,0.0028,23.5,0.0028,15.23,335.0
3,Sainz,20.4,20.4,20.4,24,0.88,19.31,Sainz,Sainz,19.31,4,0.0027,0.0027,0.0027,20.4,0.0027,17.91,394.0
4,Verstappen,30.0,30.0,30.0,63,1.54,33.80,Verstappen,Verstappen,33.80,5,0.0026,0.0026,0.0026,30.0,0.0026,46.09,1014.0
5,Perez,20.8,20.8,20.8,35,1.27,27.84,Perez,Perez,27.84,6,0.0025,0.0025,0.0025,20.8,0.0025,26.32,579.0
6,Norris,19.8,19.8,19.8,32,1.01,22.12,Norris,Norris,22.12,7,0.0024,0.0024,0.0024,19.8,0.0024,19.91,438.0
7,Piastri,15.4,15.4,15.4,24,0.82,18.12,Piastri,Piastri,18.12,8,0.0023,0.0023,0.0023,15.4,0.0023,12.68,279.0
8,Alonso,15.8,15.8,15.8,66,1.16,25.51,Alonso,Alonso,25.51,9,0.0022,0.0022,0.0022,15.8,0.0022,18.32,403.0
9,Stroll,14.0,14.0,14.0,21,0.75,16.50,Stroll,Stroll,16.50,10,0.0021,0.0021,0.0021,14.0,0.0021,10.50,231.0
10,Gasly,14.5,14.5,14.5,27,0.72,15.86,Gasly,Gasly,15.86,11,0.0020,0.0020,0.0020,14.5,0.0020,10.45,230.0
11,Ocon,13.5,13.5,13.5,10,0.40,8.89,Ocon,Ocon,8.89,12,0.0019,0.0019,0.0019,13.5,0.0019,5.45,120.0
12,Tsunoda,9.4,9.4,9.4,16,0.77,17.02,Tsunoda,Tsunoda,17.02,13,0.0018,0.0018,0.0018,9.4,0.0018,7.27,160.0
13,Ricciardo,5.5,5.5,5.5,12,0.74,16.36,Ricciardo,Ricciardo,16.36,14,0.0017,0.0017,0.0017,5.5,0.0017,4.09,90.0
14,Albon,11.3,11.3,11.3,18,0.51,11.15,Albon,Albon,11.15,15,0.0016,0.0016,0.0016,11.3,0.0016,5.73,126.0
15,Sargeant,5.8,5.8,5.8,10,-0.13,-2.93,Sargeant,Sargeant,-2.93,16,0.0015,0.0015,0.0015,5.8,0.0015,-0.77,-17.0
16,Bottas,9.6,9.6,9.6,17,0.20,4.48,Bottas,Bottas,4.48,17,0.0014,0.0014,0.0014,9.6,0.0014,1.95,43.0
17,Zhou,7.7,7.7,7.7,16,0.80,17.53,Zhou,Zhou,17.53,18,0.0013,0.0013,0.0013,7.7,0.0013,6.14,135.0
18,Magnussen,9.6,9.6,9.6,13,0.42,9.27,Magnussen,Magnussen,9.27,19,0.0012,0.0012,0.0012,9.6,0.0012,4.05,89.0
19,Hulkenberg,6.2,6.2,6.2,23,0.43,9.52,Hulkenberg,Hulkenberg,9.52,20,0.0011,0.0011,0.0011,6.2,0.0011,2.68,59.0
20,Mercedes,26.0,26.0,26.0,13,1.85,40.77,Mercedes,Mercedes,40.77,21,0.0010,0.0010,0.0010,26,0.0010,48.20,1060.0
21,Ferrari,25.0,25.0,25.0,23,1.83,40.28,Ferrari,Ferrari,40.28,22,0.0009,0.0009,0.0009,25,0.0009,45.80,1007.0
22,Red Bull,29.7,29.7,29.7,53,2.83,62.19,Red Bull,Red Bull,62.19,23,0.0008,0.0008,0.0008,29.7,0.0008,84.00,1847.0
23,Mclaren,17.1,17.1,17.1,24,2.39,52.57,Mclaren,Mclaren,52.57,24,0.0007,0.0007,0.0007,17.1,0.0007,40.90,899.0
24,Aston Martin,13.4,13.4,13.4,58,2.57,56.49,Aston Martin,Aston Martin,56.49,25,0.0006,0.0006,0.0006,13.4,0.0006,34.40,757.0
25,Alpine,14.2,14.2,14.2,9,1.49,32.89,Alpine,Alpine,32.89,26,0.0005,0.0005,0.0005,14.2,0.0005,21.20,467.0
26,AlphaTauri,8.7,8.7,8.7,5,1.61,35.40,AlphaTauri,AlphaTauri,35.40,27,0.0004,0.0004,0.0004,8.7,0.0004,14.00,308.0
27,Williams,7.8,7.8,7.8,5,0.88,19.36,Williams,Williams,19.36,28,0.0003,0.0003,0.0003,7.8,0.0003,6.90,151.0
28,Alfa Romeo,6.6,6.6,6.6,6,1.53,33.64,Alfa Romeo,Alfa Romeo,33.64,29,0.0002,0.0002,0.0002,6.6,0.0002,10.10,222.0
29,Haas,7.2,7.2,7.2,5,1.36,29.86,Haas,Haas,29.86,30,0.0001,0.0001,0.0001,7.2,0.0001,9.80,215.0

In [14]:
# The only columns that matter is Name, CurrentPrice, AveragePointsPerMillion, Average Points and Current Points
# Create a copy only with those columns
prices_copy = prices[['Name', 'CurrentPrice', 'AveragePointsPerMillion', 'Average Points', 'CurrentPoints']].copy()

In [15]:
prices_copy

,Name,CurrentPrice,AveragePointsPerMillion,Average Points,CurrentPoints
0,Hamilton,25.3,0.91,23.00,506.0
1,Russell,20.2,0.86,17.45,384.0
2,Leclerc,23.5,0.65,15.23,335.0
3,Sainz,20.4,0.88,17.91,394.0
4,Verstappen,30.0,1.54,46.09,1014.0
5,Perez,20.8,1.27,26.32,579.0
6,Norris,19.8,1.01,19.91,438.0
7,Piastri,15.4,0.82,12.68,279.0
8,Alonso,15.8,1.16,18.32,403.0
9,Stroll,14.0,0.75,10.50,231.0
10,Gasly,14.5,0.72,10.45,230.0
11,Ocon,13.5,0.40,5.45,120.0
12,Tsunoda,9.4,0.77,7.27,160.0
13,Ricciardo,5.5,0.74,4.09,90.0
14,Albon,11.3,0.51,5.73,126.0
15,Sargeant,5.8,-0.13,-0.77,-17.0
16,Bottas,9.6,0.20,1.95,43.0
17,Zhou,7.7,0.80,6.14,135.0
18,Magnussen,9.6,0.42,4.05,89.0
19,Hulkenberg,6.2,0.43,2.68,59.0
20,Mercedes,26.0,1.85,48.20,1060.0
21,Ferrari,25.0,1.83,45.80,1007.0
22,Red Bull,29.7,2.83,84.00,1847.0
23,Mclaren,17.1,2.39,40.90,899.0
24,Aston Martin,13.4,2.57,34.40,757.0
25,Alpine,14.2,1.49,21.20,467.0
26,AlphaTauri,8.7,1.61,14.00,308.0
27,Williams,7.8,0.88,6.90,151.0
28,Alfa Romeo,6.6,1.53,10.10,222.0
29,Haas,7.2,1.36,9.80,215.0

In [16]:
# Create "IsConstructor" column and set it to False for all rows but the last 10
prices_copy['IsConstructor'] = False
prices_copy['IsConstructor'][20:] = True

C:\Users\marce\AppData\Local\Temp\ipykernel_23944\2365459870.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices_copy['IsConstructor'][20:] = True

In [17]:
prices_copy

,Name,CurrentPrice,AveragePointsPerMillion,Average Points,CurrentPoints,IsConstructor
0,Hamilton,25.3,0.91,23.00,506.0,False
1,Russell,20.2,0.86,17.45,384.0,False
2,Leclerc,23.5,0.65,15.23,335.0,False
3,Sainz,20.4,0.88,17.91,394.0,False
4,Verstappen,30.0,1.54,46.09,1014.0,False
5,Perez,20.8,1.27,26.32,579.0,False
6,Norris,19.8,1.01,19.91,438.0,False
7,Piastri,15.4,0.82,12.68,279.0,False
8,Alonso,15.8,1.16,18.32,403.0,False
9,Stroll,14.0,0.75,10.50,231.0,False
10,Gasly,14.5,0.72,10.45,230.0,False
11,Ocon,13.5,0.40,5.45,120.0,False
12,Tsunoda,9.4,0.77,7.27,160.0,False
13,Ricciardo,5.5,0.74,4.09,90.0,False
14,Albon,11.3,0.51,5.73,126.0,False
15,Sargeant,5.8,-0.13,-0.77,-17.0,False
16,Bottas,9.6,0.20,1.95,43.0,False
17,Zhou,7.7,0.80,6.14,135.0,False
18,Magnussen,9.6,0.42,4.05,89.0,False
19,Hulkenberg,6.2,0.43,2.68,59.0,False
20,Mercedes,26.0,1.85,48.20,1060.0,True
21,Ferrari,25.0,1.83,45.80,1007.0,True
22,Red Bull,29.7,2.83,84.00,1847.0,True
23,Mclaren,17.1,2.39,40.90,899.0,True
24,Aston Martin,13.4,2.57,34.40,757.0,True
25,Alpine,14.2,1.49,21.20,467.0,True
26,AlphaTauri,8.7,1.61,14.00,308.0,True
27,Williams,7.8,0.88,6.90,151.0,True
28,Alfa Romeo,6.6,1.53,10.10,222.0,True
29,Haas,7.2,1.36,9.80,215.0,True

In [18]:
# Export as csv
prices_copy.to_csv('FantasyTracker23\\TreatedData2023\\F1_2023_Fantasy_DriverAndConstructors_Prices.csv', index=False)